In [1]:
import pandas as pd

# Azul Linhas Aéreas

In [2]:
df = pd.read_excel('azul.xls')

In [3]:
pme = abs((df['Estoques']/df['Custo de Bens e/ou Serviços Vendidos'])*90)
pmr = abs((df['Contas a Receber']/df['Receita Líquida de Vendas e/ou Serviços'])*90)
pmp = abs((df['Fornecedores']/df['Custo de Bens e/ou Serviços Vendidos'])*90)
co = pme + pmr
cc = co - pmp

In [4]:
colunas = ['PME', 'PMR', 'PMP', 'CO', 'CC']
azul = pd.DataFrame(columns = colunas)
azul['PME'] = pme
azul['PMR'] = pmr
azul['PMP'] = pmp
azul['CO'] = co
azul['CC'] = cc
azul

          PME         PMR         PMP          CO          CC
0   20.009589   54.727983   68.689332   74.737573    6.048241
1   23.674868   62.943896   94.568607   86.618764   -7.949843
2   22.355319   50.225489   99.741661   72.580808  -27.160853
3   29.859447   51.826820  166.039609   81.686267  -84.353342
4   42.949623   97.064652  331.600397  140.014275 -191.586122
5   32.347341  172.843115  210.563114  205.190456   -5.372657
6   14.588774   32.624657   80.937893   47.213430  -33.724462
7    4.409335   34.343844   23.272550   38.753180   15.480630
8   11.068829   44.808491   52.939508   55.877320    2.937812
9   10.449875   49.806983   56.546489   60.256858    3.710369
10  10.549859   50.180047   56.094420   60.729905    4.635485
11   9.421613   38.789664   54.901907   48.211277   -6.690630
12   8.997886   49.421264   54.321934   58.419150    4.097216
13   7.829511   52.437365   50.131390   60.266876   10.135487
14   9.331917   47.415775   50.496725   56.747693    6.250968
15   8.437847   37.506299   53.498331   45.944146   -7.554185
16   8.096492   36.484476   52.655540   44.580968   -8.074572
17   8.213115   40.665390   56.845347   48.878505   -7.966843
18   7.056747   29.897757   63.535920   36.954505  -26.581416

In [5]:
def ke(rf, rm, beta):
  rf = float(rf)
  rm = float(rm)
  beta = float(beta)
  ke = rf + beta*(rm - rf)
  return ke

def kd(i,t):
  i = float(i)
  t = float(t)
  kd = i * (1-t)
  return kd

def wacc(we,ke,wd,kd):
  we = float(we)
  wd = float(wd)
  wacc = (we + ke) * (kd + wd)
  return wacc

In [6]:
taxa = wacc(0.5,ke(0.1,0.12,2),0.5,kd(0.1,0.34))
taxa

0.36223999999999995

## Índices de Liquidez

In [7]:
#Índice de Liquidez imediata
li = df['Caixa e Equivalentes de Caixa']/df['Passivo Circulante']
#Índice de Liquidez Corrente
lc = df['Ativo Circulante']/df['Passivo Circulante']
#Índice de Liquidez seca
ls = (df['Ativo Circulante'] - df['Estoques'])/df['Passivo Circulante']
#Calcular o Capital de Giro:
cg = df['Ativo Circulante']  - df['Passivo Circulante']

In [8]:
colunas = ['LI', 'LC', 'LS', 'Capital de Giro']
liq = pd.DataFrame(columns = colunas)
liq['LI'] = li
liq['LC'] = lc
liq['LS'] = ls
liq['Capital de Giro'] = cg
liq

          LI        LC        LS  Capital de Giro
0   0.317708  0.592133  0.546701     -4664387.584
1   0.418709  0.651859  0.605613     -3607779.328
2   0.221961  0.445085  0.400783     -5688700.928
3   0.300100  0.530463  0.491043     -4795207.680
4   0.132426  0.332539  0.297817     -7236375.040
5   0.160365  0.357226  0.316348     -6278313.216
6   0.054259  0.366268  0.327289     -6181346.816
7   0.240145  0.603136  0.565120     -2723289.088
8   0.251086  0.669049  0.625523     -2006222.848
9   0.211503  0.678037  0.637981     -1846504.960
10  0.174911  0.690436  0.647137     -1607699.200
11  0.288192  0.868123  0.818788      -534996.224
12  0.231132  0.937260  0.885956      -242585.856
13  0.234459  0.945597  0.898243      -196989.184
14  0.222802  0.935757  0.882950      -213068.800
15  0.228625  0.990998  0.945894       -30016.000
16  0.127630  0.699535  0.664221     -1143819.008
17  0.138153  0.728048  0.692300      -986038.016
18  0.121359  0.473065  0.441026     -1888622.976

## Endividamento

In [9]:
#Grau de endividamento de Curto Prazo
ecp = df['Passivo Circulante']/df['Ativo Total']
#Grau de endividamento de longo Prazo
elp = df['Passivo Não Circulante']/df['Ativo Total']
#Grau de endividamento total
et = (df['Passivo Circulante'] + df['Passivo Não Circulante'])/df['Ativo Total']

In [10]:
colunas = ['ECP', 'ELP', 'ET']
endiv = pd.DataFrame(columns = colunas)
endiv['ECP'] = ecp
endiv['ELP'] = elp
endiv['ET'] = et
endiv

         ECP       ELP        ET
0   0.643270  1.366176  2.009446
1   0.596028  1.309406  1.905435
2   0.674774  1.438202  2.112976
3   0.646596  1.249209  1.895805
4   0.778500  1.217195  1.995695
5   0.644120  1.189969  1.834089
6   0.518357  0.994305  1.512662
7   0.357444  0.825871  1.183314
8   0.325762  0.708888  1.034650
9   0.323361  0.681625  1.004986
10  0.310203  0.717983  1.028186
11  0.343994  0.387741  0.731735
12  0.337746  0.404590  0.742335
13  0.330272  0.408373  0.738645
14  0.318862  0.390914  0.709776
15  0.323203  0.402133  0.725335
16  0.422519  0.298057  0.720576
17  0.394780  0.356080  0.750860
18  0.444161  0.424592  0.868753

## Rentabilidade

In [11]:
#ROE - Retorno Sobre o Equity
roe = df['Lucro/Prejuízo do Período']/df['Patrimônio Líquido']
#ROA - Lucro liquido sobre os ativos
roa = df['Lucro/Prejuízo do Período']/df['Ativo Total']

In [12]:
colunas = ['ROE', 'ROA']
rentabilidade = pd.DataFrame(columns = colunas)
rentabilidade['ROE'] = roe
rentabilidade['ROA'] = roa
rentabilidade

         ROE       ROA
0   0.122384 -0.123540
1  -0.073816  0.066836
2   0.164803 -0.183422
3   0.022433 -0.020095
4   0.088436 -0.088055
5   0.248288 -0.207094
6   0.637587 -0.326867
7   0.691198 -0.126706
8   0.703813 -0.024387
9  -3.906966  0.019480
10 -0.291761  0.008223
11  0.043673  0.011716
12  0.039518  0.010182
13 -0.015707 -0.004105
14  0.069747  0.020242
15  0.107163  0.029434
16  0.081043  0.022645
17 -0.014836 -0.003696
18  0.052211  0.006853

# Neogrid

In [13]:
df = pd.read_excel('neogrid.xls')

In [14]:
pme = abs((df['Estoques']/df['Custo de Bens e/ou Serviços Vendidos'])*90)
pmr = abs((df['Contas a Receber']/df['Receita Líquida de Vendas e/ou Serviços'])*90)
pmp = abs((df['Fornecedores']/df['Custo de Bens e/ou Serviços Vendidos'])*90)
co = pme + pmr
cc = co - pmp

In [15]:
colunas = ['PME', 'PMR', 'PMP', 'CO', 'CC']
ngrd3 = pd.DataFrame(columns = colunas)
ngrd3['PME'] = pme
ngrd3['PMR'] = pmr
ngrd3['PMP'] = pmp
ngrd3['CO'] = co
ngrd3['CC'] = cc
ngrd3

   PME        PMR        PMP         CO         CC
0  0.0  87.629563  36.603377  87.629563  51.026186
1  0.0  87.936388  64.782424  87.936388  23.153964
2  0.0  67.597674  23.787478  67.597674  43.810196
3  0.0  60.535244  34.408590  60.535244  26.126653
4  0.0  60.032771  46.067540  60.032771  13.965231
5  0.0  53.815550  55.427042  53.815550  -1.611491

## Índices de Liquidez

In [16]:
#Índice de Liquidez imediata
li = df['Caixa e Equivalentes de Caixa']/df['Passivo Circulante']
#Índice de Liquidez Corrente
lc = df['Ativo Circulante']/df['Passivo Circulante']
#Índice de Liquidez seca
ls = (df['Ativo Circulante'] - df['Estoques'])/df['Passivo Circulante']
#Calcular o Capital de Giro:
cg = df['Ativo Circulante']  - df['Passivo Circulante']

In [17]:
colunas = ['LI', 'LC', 'LS', 'Capital de Giro']
liq = pd.DataFrame(columns = colunas)
liq['LI'] = li
liq['LC'] = lc
liq['LS'] = ls
liq['Capital de Giro'] = cg
liq

         LI        LC        LS  Capital de Giro
0  1.194021  4.713140  4.713140       318606.008
1  1.284260  4.627135  4.627135       326794.008
2  1.351121  4.947628  4.947628       334297.000
3  0.446195  1.141373  1.141373        11469.000
4  0.456454  1.162704  1.162704        12967.000
5  0.462733  1.171726  1.171726        13651.000

## Endividamento

In [18]:
#Grau de endividamento de Curto Prazo
ecp = df['Passivo Circulante']/df['Ativo Total']
#Grau de endividamento de longo Prazo
elp = df['Passivo Não Circulante']/df['Ativo Total']
#Grau de endividamento total
et = (df['Passivo Circulante'] + df['Passivo Não Circulante'])/df['Ativo Total']

In [19]:
colunas = ['ECP', 'ELP', 'ET']
endiv = pd.DataFrame(columns = colunas)
endiv['ECP'] = ecp
endiv['ELP'] = elp
endiv['ET'] = et
endiv

        ECP       ELP        ET
0  0.127843  0.174156  0.301998
1  0.130739  0.198316  0.329056
2  0.128126  0.185467  0.313593
3  0.241810  0.349284  0.591094
4  0.234750  0.365102  0.599852
5  0.231264  0.354701  0.585965

## Rentabilidade

In [20]:
#ROE - Retorno Sobre o Equity
roe = df['Lucro/Prejuízo do Período']/df['Patrimônio Líquido']
#ROA - Lucro liquido sobre os ativos
roa = df['Lucro/Prejuízo do Período']/df['Ativo Total']

In [21]:
colunas = ['ROE', 'ROA']
rentabilidade = pd.DataFrame(columns = colunas)
rentabilidade['ROE'] = roe
rentabilidade['ROA'] = roa
rentabilidade

        ROE       ROA
0  0.019004  0.013265
1  0.013699  0.009191
2  0.008332  0.005719
3  0.029755  0.012167
4  0.011667  0.004669
5  0.020461  0.008472

In [23]:
wd = (df['Ativo Total'] - df['Patrimônio Líquido'])/df['Ativo Total']
we = 1 - wd

In [24]:
we

0    0.698002
1    0.670944
2    0.686407
3    0.408906
4    0.400148
5    0.414035
dtype: float64

In [26]:
ke()

In [29]:
def ieq (i,t,q):
    i = float(i)
    t = int(t)
    q = int(q)
    ieq = ((1+t)**(q/t))*1
    return ieq

In [30]:
ieq(0.12, 360, 90)

4.358898943540674